DJANGO_SECRET_KEY=troque-por-uma-chave-forte
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=seu-app.onrender.com
CSRF_TRUSTED_ORIGINS=https://seu-app.onrender.com
RENDER_EXTERNAL_HOSTNAME=seu-app.onrender.com
SECURE_HSTS_SECONDS=86400
SECURE_HSTS_PRELOAD=False
DATABASE_URL=sqlite:///db.sqlite3
